<div class="container">
    <h1>List of Bookings records</h1>
    <table class="table table-bordered ">
      <tr>
        <th>Ticket Number</th>
        <th>No of Tickets</th>
        <th>From </th>
        <th>To </th>
        <th>Date </th>
        <th>PNR Number </th>
       
        <th width="220px">Action</th>
      </tr>
       <tr *ngFor="let flight  flight">
          <td>{{ flight.flightnumber }}</td>
          <td>{{ flight.airline }}</td>
          <td>{{ flight.fromplace }}</td>
          <td>{{ flight.toPlace }}</td>
          <td> -->
      <tr>
    </table>
  </div>

