  
<h3 style="text-align: center;">Add Airline</h3>
<div style="width: 400px; margin-left: auto; margin-right: auto;">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="name">Airline Name</label>
            <input type="text" placeholder="Airline Name" formControlName="name" class="form-control"
                id="airlinename" name="airlinename">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">Name is required.</div>
            <div *ngIf="f['name'].errors && f['name'].errors['required']"></div>
        </div>
        <div class="form-group">
            <label for="name">Logo</label>
            <input type="text" placeholder="logo" formControlName="logo" class="form-control" id="logo" name="logo">
            <div *ngIf="f['logo'].touched && f['logo'].invalid" class="alert alert-danger">Logo is required.</div>
            <div *ngIf="f['logo'].errors && f['logo'].errors['required']"></div>
        </div>
        <div class="form-group">
            <label for="name">Contact Address</label>
            <input type="text" placeholder="Address" formControlName="contactAddress" class="form-control" id="address"
                name="address">
            <div *ngIf="f['contactAddress'].touched && f['contactAddress'].invalid" class="alert alert-danger">Address is required.</div>
            <div *ngIf="f['contactAddress'].errors && f['contactAddress'].errors['required']"></div>
        </div>
        <div class="form-group">
            <label for="name">Contact Number</label>
            <input type="tel" placeholder="Number" formControlName="contactNumber" class="form-control" id="number"
                name="number">
            <div *ngIf="f['contactNumber'].touched && f['contactNumber'].invalid" class="alert alert-danger">Number is required.</div>
            <div *ngIf="f['contactNumber'].errors && f['contactNumber'].errors['required']"></div>
        </div>
        <button type="submit"  class="btn btn-success" [disabled]="!form.valid">Submit</button>
    </form>
</div>

