<h1>Airlines List</h1>
<a href="#" routerLink="../addairlines" class="btn btn-primary">Add Airlines</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>logo</th>
            <th>contactNumber</th>
            <th>contactAddress</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let airline of airlines">
            <td>{{airline.name}}</td>
            <td>{{airline.logo}}</td>
            <td>{{airline.contactNumber}}</td>
            <td>{{airline.contactAddress}}</td>

        </tr>
    </tbody>
</table>